@using IMI.Turf.Web.Models;

@model ServiceRequestViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>@Model.RequestName</h3>

    <table class="table table-striped table-hover">
    <tr>
        <td>Category:  </td>
        <td>@Model.RequestCategoryDisplay</td>
    </tr>
     <tr>
        <td>Date:  </td>
        <td>@Model.DateNeededDisplay</td>
    </tr>
     <tr>
        <td>Budget (@Model.RateTypeDisplay):  </td>
        <td>@Model.BudgetDisplay</td>
    </tr>
    <tr>
        <td>Description:  </td>
        <td>@Model.RequestDescription</td>
    </tr>
</table>

@if(User.Identity.IsAuthenticated){
<button type="button" class="btn btn-primary btn-lg" id="btnContact" data-toggle="modal" data-target="#myModal">
  Place Bid
</button>
}else{
 <label>Please login or create an account to message user</label>  
}

 <h5>Current bids:</h5>
 <div id ="currentBids"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact</h4>
      </div>
          <div class="modal-body">
           <div class="form-group">
            <label>Number of bids: </label>@Model.NumberOfBidsDisplay
            <label>Budget: </label>@Model.BudgetDisplay
           </div>
           <div class="form-group">
            <label>Your bid:</label>
            <input type="text" class="form-control" name="budget" id="txtBidAmount">
           </div>
          <div class="form-group">
            <label for="RequestDescription">Message to client (describe why you would be perfect for this job, offer contact info, ask questions)</label>
            <textarea class="form-control" id="txtMessage" rows="5"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnSubmit">Submit Bid</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="ServiceRequestId" value="@Model.ServiceRequestId" />
<input type="hidden" id="UserId" value="@Model.CreatedBy" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var bid = {
                "BidAmount": $("#txtBidAmount").val(),
                "ServiceRequestId": $("#ServiceRequestId").val()
            };
            $.ajax({
                type: 'POST',
                url: '/details/placebid',
                data: JSON.stringify(bid),
                contentType: 'application/json',
                success: function () { alert('ok'); },
                error: function (err) {
                    alert("error - " + err);
                }
            });

            var msg = {
                "MessageBody": $("#txtMessage").val(),
                "ServiceRequestId": $("#ServiceRequestId").val(),
                "ToUserId": $("#UserId").val()
            };
            $.ajax({
                type: 'POST',
                url: '/details/sendmessage',
                data: JSON.stringify(msg),
                contentType: 'application/json',
                success: function () { alert('ok'); },
                error: function (err) {
                    alert("error - " + err);
                }
            });
        });

        //Get current requests
        $.getJSON('/details/GetBids/', {
            serviceRequestId: '@Model.ServiceRequestId'
        }
        ,function (result) {
            var div = $('#currentBids');
            var tbl = $("<table class='table table-striped table-hover' />").attr("id", "mytable");
            div.append(tbl);
            $(result).each(function () {
                var tr = "<tr>";
                var td1 = "<td>" + "<a href='UserProfile/Details/" + this.UserId + "' >" + this.UserName + "</a>" + "</td>";
                var td2 = "<td>" + this.BidAmount + "</td>";
                var td3 = "<td>" + this.CreatedDate + "</td>";
                tbl.append(tr + td1 + td2 + td3 + "</tr>");
            });
        });
        });
</script>